<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Modifier la salle {{ salle.libelle }}</h4>
        </div>

        <div class="modal-body">
            {{form_errors(formm)}}
            <form role="form" action="{{ path('admin_modif_salle',{'id':salle.id}) }}" method="post">
                <div class="modal-body">
                    <div class="form-group input-group">
                        <span class="input-group-addon">Libelle</span>
                        {{form_widget(formm.libelle,{'attr':{'class':'form-control span12'} })}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <button type="Submit" class="btn btn-primary">Modifier</button>
                </div>
                {{ form_rest(formm) }}
            </form>
        </div>
    </div>
</div>